canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    position: relative;
    left: 35%;
    top: 20px
}

main {
	background-color: blue;
}

header {
	background-color: gray;
}

footer {
	background-color: yellow;
}